doctype html
html(lang="en")
  head
    title Users
    Link(rel="stylesheet" href="/css/allusers.css")     
  body
    h1 Users List
    table
      thead
        tr
          th Staff Name
          th Email Address
          th Role
          th Branch
          th Action
          th
      tbody
        if users.length 
        each user in users
          tr
            td #{user.username}
            td #{user.email}
            td #{user.role}
            td #{user.branch}
            td
              form(method="POST" action="/delete-user")
                input(type="hidden", placeholder="", Name="id", value=user._id )
                button.btn.btn-danger.btn-sm(class="delete-btn" type="submit") Delete
            td 
               a.btn.btn-secondary.btn-sm(href="update-user/"+user._id) Edit
        else 
          p no users signed up yet