extends manager-dashboard.pug

block content 
 
 
  doctype html
  html(lang="en")
    head
      title Users
      link(rel="stylesheet" href="/css/allusers.css")
    body
      h1 Users List
      table
        thead
          tr
            th Staff Name
            th Email Address
            th Role
            th Branch
            th Action
            th
        tbody
          if signups && signups.length
            each signup in signups
              tr
                td #{signup.username}
                td #{signup.email}
                td #{signup.role}
                td #{signup.branch}
                td
                  form(method="POST" action="/delete-user")
                    input(type="hidden", placeholder="" name="id", value=signup._id)
                    button.btn.btn-danger.btn-sm(class="delete-btn" type="submit") Delete
                td
                  a.btn.btn-primary.btn-sm(class='updateUser-btn' href="/update-user/" +signup._id) Edit
                td
                  a.btn.btn-success.btn-sm(href="/user") Add
          else
            tr
              td(colspan="6") No users signed up yet
