doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Receipt
  link(rel='stylesheet' href='/css/gen.css')
  style.
    .receipt-container {
    max-width: 600px;
    margin: 20px auto;
    }
    .receipt-header,
    .receipt-items,
    .receipt-footer {
    margin-bottom: 20px;
    }
    .receipt-items table {
    width: 100%;
    border-collapse: collapse;
    }
    .receipt-items table,
    .receipt-items th,
    .receipt-items td {
    border: 1px solid #ddd;
    }
    .receipt-items th,
    .receipt-items td {
    padding: 8px;
    text-align: left;
    }
    .receipt-items th {
    background-color: #f4f4f4;
    }

//- p Sales Agent Name: #{sale.salesAgent}
//- p Transaction Id: #{sale.transactionId}
//- p Date: #{sale.date}


form(action='/thesale?id='+sale_id method='Post')
  .receipt-container
    .receipt-header
      h1 KGL GROCERY LIMITED
      h2 Receipt
      p#salesAgent
      p#transactionId
      p#receiptDate
      p#customerName
    .receipt-items
      table
        thead
          tr
            th Item
            th Quantity (Kg)
            th  Unit Price
            th Total Amount (Ugx)
        tbody#receiptItemsBody
        tfoot
          tr
            td(colspan='3') Subtotal
            td#subTotal
          tr
            td(colspan='3') Tax (0%)
            td#tax
          tr
            td(colspan='3') Total
            td#grandTotal
   
    .receipt-footer 
      button(onclick='window.print()') Print Receipt 
      //- button(onclick="window.location. a(href='/thesale')") Back
    
script.
  document.addEventListener('DOMContentLoaded', () => {
  const receiptData = JSON.parse(localStorage.getItem('receiptData'));
  //- const receiptData = !{JSON.stringify(sale)};
  // Use the data directly in your script

  if (receiptData) {
  document.getElementById('salesAgent').innerText = `Agent: ${receiptData.salesAgent}`;
  document.getElementById('transactionId').innerText = `Transaction ID: ${receiptData.transactionId}`;
  document.getElementById('receiptDate').innerText = `Date: ${receiptData.date}`;
  document.getElementById('customerName').innerText = `Customer Name: ${receiptData.customerName}`;
  document.getElementById('subTotal').innerText = receiptData.subtotal;
  document.getElementById('tax').innerText = receiptData.tax;
  document.getElementById('grandTotal').innerText = receiptData.total;
  const itemsBody = document.getElementById('receiptItemsBody');
  receiptData.items.forEach(item => {
  const row = document.createElement('tr');
  row.innerHTML = `
  <td>${item.name}</td>
  <td>${item.quantity}</td>
  <td>${item.price}</td>
  <td>${item.amount}</td>
  `;
  itemsBody.appendChild(row);
  });
  } else {
  document.body.innerHTML = '<h1>No receipt data found</h1>';
  }
  });

script(src="/js/sales.js")




